APP_ADDR=127.0.0.1:3000
SUPABASE_URL=http://127.0.0.1:8000
#SERVICE_ROLE_KEY
SUPABASE_KEY=$SERVICE_ROLE_KEY
#ANON_KEY
SUPABASE_ANON_KEY=$ANON_KEY
SUPABASE_API_KEY=$ANON_KEY
#JWT_SECRET
SUPABASE_JWT_SECRET=$JWT_SECRET
AUTH_TOKEN_SECRET=$JWT_SECRET
SUPABASE_SCHEMA=public
SUPABASE_AUTH_TABLE=app_users
SUPABASE_AUTH_EMAIL_REDIRECT_TO=https://127.0.0.1:3000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
# Copy this from your local Supabase stack .env if different.
POSTGRES_PASSWORD=32fc0e4d2f6ad8638e981087b7eea823-test
POOLER_TENANT_ID=your-tenant-id
