# Solana Program Configuration
SOLANA_PROGRAM_ID=9dnVC6zutaS7vAVjyrRF5BFWGQoWzMXVfxKVDEo6ZkyH

# RPC Configuration
SOLANA_RPC_URL=http://localhost:8899

# Wallet Configuration
WALLET_DIRECTORY=solana-wallets
WALLET_FILE_NAME=alice.json
