APP_ADDR=127.0.0.1:3000
SUPABASE_URL=http://127.0.0.1:8000
#SERVICE_ROLE_KEY
SUPABASE_KEY=$SERVICE_ROLE_KEY
#ANON_KEY
SUPABASE_API_KEY=$ANON_KEY
#JWT_SECRET
SUPABASE_JWT_SECRET=$JWT_SECRET
AUTH_TOKEN_SECRET=$JWT_SECRET
SUPABASE_SCHEMA=public
SUPABASE_AUTH_TABLE=app_users
SUPABASE_AUTH_EMAIL_REDIRECT_TO=https://127.0.0.1:3000
