<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Cot!</title>
        <link href="{{ static_files.url_for("css/main.css")? }}" rel="stylesheet">
    </head>
    <body>
        <main>
            <h1>You have successfully installed Cot!</h1>
            <p class="lead">Now, you can start building your web application using Rust and Cot.</p>
            <ul>
                <li>
                    <a href="https://cot.rs/guide/latest/">Read the guide</a>
                </li>
                <li>
                    <a href="https://docs.rs/cot">See the API reference</a>
                </li>
            </ul>
        </main>
    </body>
</html>
